<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1 class="title">Hello THis is Homepage</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi aliquam quisquam in, fugiat reiciendis iste facilis necessitatibus harum quasi nam, itaque tenetur nisi, eum enim eaque aliquid esse id.</p><a href="/admin/create">Add A Post Here</a>
    </body>
</html>