<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="title">Post Page</h1>
    <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae odio ab, quos voluptas iusto iste saepe illum odit, et hic reiciendis placeat accusamus nulla cumque. Pariatur quidem quod esse iure.</p>
</body>
</html>